body {
	font-family: Arial;
	font-size: 14px;
	background-color: #8C7A6B;
}

div#header {
	width: 100%;
	background-color: #D9CAB3;
}

div#siteTitle {
	font-size: 60px;
	font-weight: bold;
	color: #5E0B15;
	display: inline-block;
	margin: 10px 10px;
}

img#logo {
	height: 65px;
	position: absolute;
	right: 10px;
	top: 5px;
}

nav#navbar {
	background-color: #BC8034;
}

ul#navLinks {
	list-style-type: none;
}

li.navItem {
	width: 10%;
	text-align: center;
	display: inline-block;
	margin: 5px 0px;
}

a.navLink {
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 18px;
}

a.current {
	color: #5E0B15 !important;
}

a.navLink:hover {
	color: #5E0B15;
}