div.contentBox {
	width: 60%;
	margin: 20px auto;
	border-radius: 25px;
	background-color: #D9CAB3;
}

div.postContent {
	padding: 15px;
}

div.postTitle {
	width:100%;
	font-size: 24px;
	font-weight: bold;
	color: #5E0B15;
	margin-bottom: 10px;
	padding-bottom: 2px;
	border-bottom: solid 2px #5E0B15;
}

a.postLink {
	color: #5E0B15;
	font-weight: bold;
	text-decoration: none;
	font-size: 18px;
}

a.postLink:hover {
	color: black;
}

p.postText {
	line-height: 150%;
}

img.postImage {
	width: 100%;
	display: block;
	margin: auto;
}

ul.postList {
	list-style-type: square;
	line-height: 150%;
	padding-left: 15px;
}